---
title: Hams @ the Park
layout: page
permalink: /events/hampark/
gsCMS: true
---

<p>
	Hams at the park is a once a month event were we will go out to a park with in our region to have lunch and play with radios.
</p>
<p>
	The event will be open to the public and we encourage everyone to invite as many people as possible to these outings Lunch will be available for a small cost as a fundraiser for the club. We also would never turn down more food and drinks if people would like to donate that to the cause.
</p>
<br />
<h4>More Info to Come...</h4>
<br />

<h2>Upcoming Parks</h2>
<div>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th>Date</th>
				<th>Park</th>
				<th>Nearby Town</th>
				<th>County</th>
				<th>State</th>
				<th>Map</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody id="upcomingParks">
			<noscript>Javascript must be enabled to view.</noscript>    
		</tbody>
	</table>
</div>
<h2>Past Parks</h2>
<div>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th>Date</th>
				<th>Park</th>
				<th>Nearby Town</th>
				<th>County</th>
				<th>State</th>
				<th>Map</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody id="pastParks">
			<noscript>Javascript must be enabled to view.</noscript>    
		</tbody>
	</table>
</div>

<script>
	hamPark();
</script>
