---
layout: page
title: Minutes
permalink: /meetings/minutes/
---

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
	  {% assign minutes = site.minutes | sort: 'date' %}
      {% for meeting in minutes reversed %}
	  {% capture currentyear %}{{meeting.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
      <div class="panel-heading">
        <div class="panel-title">
          <h3>{{ currentyear }}</h3>
        </div>
      </div>
	  {% endif %}
      {% capture year %}{{currentyear}}{% endcapture %}
      <div class="list-group list-unstyled">
        <a href="{{ meeting.url | prepend: site.baseurl }}" class="list-group-item">{{ meeting.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
