---
title: Repeaters
layout: page
permalink: /resources/repeaters/
table: true
headless: true
---

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <th>Call Sign</th>
      <th>Frequency</th>
      <th>Offset</th>
      <th>Tone</th>
      <th>Links</th>
      <th>Purpose</th>
      <th>Capabilities</th>
      <th>County</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody id="repeaters">
    <noscript>Javascript must be enabled to view nets.</noscript>
  </tbody>
</table>
<script>
  repeaters();
</script>