---
layout: page
title: Field Day 2018
permalink: /field-day/2018/
eventDate: 2018-06-23
eventType: event
past: true
---

<div class="well well-sm text-center">
  <h2>June 23 @ 11:00 - June 24 @ 11:00</h2>
  <h3>That's Right, Field Day is a full 24 hours of fun.</h3>
</div>
<div>
  <p>
    <abbr title="Do Something Amateur Radio Club">DSARC</abbr> will be particiapating in this years field day at <a href="https://goo.gl/maps/7Fv52XXJENC2" target="_blank">Spring Valley Reservoir</a>, just outside of Troy.
  </p>
  <p>
    We welcome the community, and invite those that are interested in learning about amateur radio, or want to participate to come and join us.
  </p>
  <p>
    If you are interested in operating a radio but do not yet have a license we will have a <abbr title="Get On The Air">GOTA</abbr> station available. This station is available to all non or newly licensed amateur radio operators to try and make contacts on bands that might otherwise not be available to them. You will be able to communicate via voice or digital.
  </p>
  <div class="well">
    <h4>What is Field Day? <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Watch Video</button></h4>
    <p>
      Field Day is ham radio's open house. Every June, more than 40,000 hams throughout North America set up temporary transmitting stations in public places to demonstrate ham radio's science, skill and service to our communities and our nation. It combines public service, emergency preparedness, community outreach, and technical skills all in a single event. Field Day has been an annual event since 1933, and remains the most popular event in ham radio.
    </p>
    <p>
      For more information <a href="https://www.arrl.org/files/file/Field-Day/2018/2018%20FD%20Flier.pdf" target="_blank">Click Here</a>.
    </p>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">What is Field Day</h4>
        </div>
        <div class="modal-body">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
              <source src="https://www.arrl.org/files/file/Field-Day/2018/2018%20Video%20PSA.mp4" type='video/mp4;'>
            Your browser does not support the HTML5 videos or you need to enable JavaScript.
            </video>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <h3>Directions:</h3>
  <h3><a href="https://goo.gl/maps/7Fv52XXJENC2" target="_blank"><small>1301 Spring Valley Rd, Troy, ID 83871</small></a></h3>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YpnfjgbEGtjCJbeLVjOoxhU4QWNWzwmS" width="640" height="480"></iframe>
</div>
