<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Subscribe to Our Mailing List</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
        </style>
        <div id="mc_embed_signup">
          <form action="https://dsarc.us20.list-manage.com/subscribe/post?u=52581b89fbfa11fc59cc4b3d5&amp;id=dd157581ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <h2>Subscribe</h2>
          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-CALLSIGN">Call Sign </label>
            <input type="text" value="" name="CALLSIGN" class="" id="mce-CALLSIGN">
          </div>
          <div class="mc-field-group">
            <label for="mce-ZIPCODE">Zip Code  <span class="asterisk">*</span>
          </label>
            <input type="text" value="" name="ZIPCODE" class="required" id="mce-ZIPCODE">
          </div>
          <div class="mc-field-group size1of2">
            <label for="mce-PHONE">Phone Number </label>
            <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
          </div>
          <div class="mc-field-group size1of2">
            <label for="mce-BIRTHDAY-month">Birthday </label>
            <div class="datefield">
              <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> / 
              <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span> 
              <span class="small-meta nowrap">( mm / dd )</span>
            </div>
          </div><div class="mc-field-group input-group">
              <strong>Receive Notices For </strong>
              <ul><li><input type="checkbox" value="8" name="group[6405][8]" id="mce-group[6405]-6405-0"><label for="mce-group[6405]-6405-0">DSARC</label></li>
          <li><input type="checkbox" value="16" name="group[6405][16]" id="mce-group[6405]-6405-1"><label for="mce-group[6405]-6405-1">Latah Aux Comm</label></li>
          <li><input type="checkbox" value="32" name="group[6405][32]" id="mce-group[6405]-6405-2"><label for="mce-group[6405]-6405-2">Latah/Whitman ARES</label></li>
          </ul>
          </div>
          <div class="mc-field-group input-group">
              <strong>Member of: </strong>
              <ul><li><input type="checkbox" value="1" name="group[6401][1]" id="mce-group[6401]-6401-0"><label for="mce-group[6401]-6401-0">DSARC</label></li>
          <li><input type="checkbox" value="2" name="group[6401][2]" id="mce-group[6401]-6401-1"><label for="mce-group[6401]-6401-1">Latah Aux Comm</label></li>
          <li><input type="checkbox" value="4" name="group[6401][4]" id="mce-group[6401]-6401-2"><label for="mce-group[6401]-6401-2">Latah/Whitman ARES</label></li>
          </ul>
          </div>
          <div class="mc-field-group input-group">
              <strong>Email Format </strong>
              <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
          <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
          </ul>
          </div>
          <p><a href="https://us20.campaign-archive.com/home/?u=52581b89fbfa11fc59cc4b3d5&id=dd157581ae" title="View previous campaigns">View previous campaigns.</a></p>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_52581b89fbfa11fc59cc4b3d5_dd157581ae" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='CALLSIGN';ftypes[6]='text';fnames[7]='ZIPCODE';ftypes[7]='zip';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
