<!-- Algolia DocSearch -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: '0807c826f8e00eb44942a4511ecd12ad',
    indexName: 'dsarc',
    inputSelector: '#search',
    debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>

<!-- Moment JS -->
<script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>

{% if page.calendar %}
  <!-- Calendar Defined -->
  <script src="/js/fullcalendar.js"></script>
  <!-- FullCalendar CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@latest/dist/fullcalendar.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar/dist/fullcalendar.print.min.css" media="print" />
  <!-- FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar/dist/gcal.min.js"></script>
{% endif %}
